header{
    height: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    .brand{
        background-color: #cccccc;
        cursor: pointer;
        border-radius: 50px;
        padding: 10px 30px;
    }
}