.todo-list{
    .todo-tools{
        display: none;
    }
    .card{
        &:hover{
            cursor: pointer;
            // width: calc(100% + 60px);
            // height: 80px;
            // margin-left: -30px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            .todo-tools{
                display: inline;
            }
        }
    }
    i{
        margin-left: 8px;
    }
}